:root {
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1300: 104px;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #949494;
  --color-red: #ff6155;
  --color-blue-700: #36384d;
  --color-blue-800: #242742;
}
